<div class="main">
  <div id="header-top" class="clear">
      <a routerLink="/index" class="logo">
          <img src="assets/img/header/logo.png" />
      </a>
      <div id="top-input">
          <div class="input-box">
              <input type="text" placeholder="书名、作者" id="txtSearch">
          </div>
          <a href="#">搜索</a>
      </div>
      <ul id="list">
          <li>
              <a routerLink="/register">注册</a>
          </li>
          <li>
              <a routerLink="/login">登录</a>
          </li>
      </ul>
  </div>
  <div id="nav"></div>
</div>