.main,
.main-content {
    width: 100%;
}

#header-top {
    padding: 15px 120px 30px 200px;
}

.logo {
    float: left;
}

.main-content {
	padding: 60px 0 120px 0;
}

#content-box {
    width: 600px;
    background-color: #fff;
    border: 1px solid #D0D0C8;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.txt {
	display: flex;
	justify-content: space-between;
}

.txt>p {
	font-size: 20px;
}

.txt>span {
	font-size: 14px;
	text-align: center;
	margin: 4px 180px 0 0;
}

.txt>span>a {
	color: #369;
}

.form-field>label {
	display: inline-block;
	width: 80px;
	font-size: 14px;
	text-align: right;
}

.form-field>input {
	width: 272px;
	font-size: 14px;
	padding: 8px 16px;
	margin: 12px 12px 0 0;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
}

.form-field>input:focus {
	outline-color: #a9a9a9;
}

.form-field>input[type="button"] {
	width: 240px;
	font-size: 15px;
	color: #fff;
	background-color: #3C5A98;
	border: none;
	margin: 18px 0 0 100px;
	letter-spacing: 1px;
	cursor: pointer;
}

.msg {
	font-size: 13px;
	color: red;
}

.txt>.msg {
	margin: 0;
	padding-top: 4px;
	font-size: 14px;
	font-weight: bolder;
}