<div class="main">
  <div id="header-top" class="clear">
    <a href="index.html" class="logo">
      <img src="assets/img/header/logo.png" />
    </a>
  </div>
  <div class="main-content">
    <div id="content-box">
      <form action="#">
        <div class="txt">
          <p>新用户登录</p>
          <span>
            <a routerLink="/register">去注册</a>
          </span>
        </div>
        <div class="form-group">
          <label for="uname">用户名：</label>
          <input type="text" id="uname" name="uname" placeholder="请输入用户名">
          <span class="msg" hidden></span>
        </div>
        <div class="form-group">
          <label for="upwd">密码：</label>
          <input type="password" id="upwd" name="upwd" placeholder="请输入密码">
          <span class="msg" hidden></span>
        </div>
        <div class="form-group">
          <input type="button" value="点击登录" id="btn-register">
        </div>
      </form>
    </div>
  </div>
</div>