<div class="main">
  <div id="header-top" class="clear">
    <a routerLink="/index" class="logo">
      <img src="assets/img/header/logo.png" />
    </a>
  </div>
  <div class="main-content">
    <div id="content-box">
      <form (key.enter)="userLogin()">
        <div class="txt">
          <p>新用户登录</p>
          <span class="msg" [hidden]="isShowLoginError">用户名或密码错误</span>
          <span>
            <a routerLink="/register">去注册</a>
          </span>
        </div>
        <div class="form-field">
          <label for="uname">用户名：</label>
          <input type="text" id="uname"
            [(ngModel)]="uname" name="uname"
            placeholder="请输入用户名"
            (keyup)="onKeyName()"
            autocomplete="off" />
          <span class="msg" [hidden]="isShowNameError">请输入正确的用户名</span>
        </div>
        <div class="form-field">
          <label for="upwd">密码：</label>
          <input type="password" id="upwd"
            [(ngModel)]="upwd" name="upwd"
            placeholder="请输入密码"
            (keyup)="onKeyPwd()" />
          <span class="msg" [hidden]="isShowPwdError">请输入密码</span>
        </div>
        <div class="form-field loginError">
          <label></label>
          
        </div>
        <div class="form-field">
          <input type="button" value="点击登录" id="btn-register" (click)="userLogin()">
        </div>
      </form>
    </div>
  </div>
</div>