<app-header></app-header>
<div id="wrapper">
  <div class="row">
    <div class="col-md-11">
      <p class="top-tip">
        <span routerLink="/index">首页</span> > 用户中心
      </p>
    </div>
    <div class="col-md-2" id="menu">
      <dl class="fore1">
        <dt>订单中心</dt>
        <dd>
          <a href="">全部订单</a>
        </dd>
        <dd>
          <a href="">待付款</a>
        </dd>
        <dd>
          <a href="">待收货</a>
        </dd>
      </dl>
      <dl class="fore2">
        <dt>个人中心</dt>
        <dd>
          <a routerLink="/userCenter/userInfo/myInfo">个人信息</a>
        </dd>
        <dd>
          <a routerLink="/userCenter/userInfo/userSafety">账户安全</a>
        </dd>
        <dd>
          <a routerLink="/userCenter/userInfo/myAdderss">收货地址</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-8 user-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>