<app-header></app-header>
<div id="wrapper">
  <div class="row">
    <div class="col-md-11">
      <p class="top-tip">
        <span routerLink="/index">首页</span> > 用户中心
      </p>
    </div>
    <div class="col-md-2" id="menu">
      <dl class="fore1">
        <dt>订单中心</dt>
        <dd>
          <a routerLink="/userCenter/orderInfo/myOrder">
            <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon> 全部订单
          </a>
        </dd>
        <dd>
          <a routerLink="/userCenter/orderInfo/unpaidOrder">
            <fa-icon [icon]="['fas', 'wallet']"></fa-icon> 待付款
          </a>
        </dd>
        <dd>
          <a routerLink="/userCenter/orderInfo/unacceptedOrder">
            <fa-icon [icon]="['fas', 'clipboard-check']"></fa-icon> 待收货
          </a>
        </dd>
        <dd>
          <a routerLink="/userCenter/orderInfo/cancelledOrder">
            <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> 已取消
          </a>
        </dd>
      </dl>
      <dl class="fore2">
        <dt>个人中心</dt>
        <dd>
          <a routerLink="/userCenter/userInfo/myInfo">
            <fa-icon [icon]="['fas', 'user']"></fa-icon> 个人信息
          </a>
        </dd>
        <dd>
          <a routerLink="/userCenter/userInfo/userSafety">
            <fa-icon [icon]="['fas', 'key']"></fa-icon> 账户安全
          </a>
        </dd>
        <dd>
          <a routerLink="/userCenter/userInfo/myAdderss">
            <fa-icon [icon]="['fas', 'map-marker']"></fa-icon> 收货地址
          </a>
        </dd>
      </dl>
    </div>
    <div class="col-md-8 user-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>