#wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.category {
  padding: 0;
}

.row {
  margin: 0;
  padding-bottom: 10px;
}

.aside {
  padding: 0;
}

.top-sale {
  padding-bottom: 20px;
}