<app-header></app-header>
<div id="wrapper">
  <div class="row">
    <div class="col-md-11" *ngIf="goodsBesic">
      <p class="top-tip">
        <span routerLink="/index">首页</span> >
        <span [routerLink]="'/list/categoryList/'+goodsBesic.fid">{{goodsBesic.fname}}</span> > {{goodsBesic.gname}}</p>
    </div>
    <div class="col-md-4 preview">
      <div class="spec" *ngIf="goodsPic">
        <a href="javascript:;">
          <img [src]="'http://localhost/bookMallPic/'+goodsPic[0].md">
        </a>
      </div>
      <ul class="spec-list">
        <li *ngFor="let pic of goodsPic">
          <a href="javascript:;" (mouseover)="changePic(pic.md)">
            <img [src]="'http://localhost/bookMallPic/'+pic.xs">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <div class="goods-info" *ngIf="goodsBesic">
        <p class="title">{{goodsBesic.title}}</p>
        <p class="sub-title">{{goodsBesic.sub_title}}</p>
        <p class="author">
          作者：
          <span>{{goodsBesic.author}}</span>
        </p>
        <p class="publishing">
          出版社：
          <span>{{goodsBesic.publishing}}</span>
        </p>
        <p class="publish-time">
          出版时间：
          <span>{{goodsBesic.publish_time | timestamp | date:'yyyy年MM月'}}</span>
        </p>
        <p class="isbn">
          ISBN：
          <span>{{goodsBesic.isbn}}</span>
        </p>
        <div class="price">
          <div class="price-d">
            <p class="txt">抢购价</p>
            <p class="dd-price">
              <span>¥</span>{{goodsBesic.discount_price}}</p>
          </div>
          <div class="price-r">({{(goodsBesic.discount_price / goodsBesic.price) * 10 | number:'1.0-2'}}折)</div>
          <div class="price-m">定价
            <span>{{goodsBesic.price | currency:'CNY':'symbol-narrow'}}</span>
          </div>
        </div>
        <div class="count">
          <span>数量：</span>
          <div class="btn-count">
            <button class="btn-reduce" (click)="modifyCount(false)">-</button>
            <input type="text" name="count" [(ngModel)]="count">
            <button class="btn-add" (click)="modifyCount(true)">+</button>
          </div>
        </div>
        <button class="btn btn-danger" (click)="addToCart(template)">加入购物车</button>
        <ng-template #template>
          <div class="modal-body text-center">
            <span>
              <fa-icon [icon]="['fas', 'check-circle']" size="4x"></fa-icon>
            </span>
            <p>商品已成功加入购物车！</p>
            <button type="button" class="btn btn-shopping" (click)="goShopping()">继续购物</button>
            <button type="button" class="btn btn-order" (click)="goCart()">去购物车结算</button>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col-md-11 detail" *ngIf="goodsDetail">
      <tabset>
        <tab heading="商品详情" id="detail">
          <div class="row">
            <div class="col-md-4">出版社：{{goodsDetail.publishing}}</div>
            <div class="col-md-4">ISBN：{{goodsDetail.isbn}}</div>
            <div class="col-md-4">版 次：{{goodsDetail.edition}}</div>
            <div class="col-md-4">页 数：{{goodsDetail.page_count}}</div>
            <div class="col-md-4">字 数：{{goodsDetail.word_count}}</div>
            <div class="col-md-4">开 本：{{goodsDetail.format}}</div>
            <div class="col-md-4">印刷时间：{{goodsDetail.printing_time}}</div>
            <div class="col-md-4">纸 张：{{goodsDetail.paper}}</div>
            <div class="col-md-4">包 装：{{goodsDetail.package}}</div>
          </div>
          <div class="detail-content">
            <div class="detail-content-wrap">
              <div id="detail-tag-id-1" *ngIf="goodsDetail.goods_features">
                <div class="detail-tag">
                  <span>产品特色</span>
                </div>
                <p>
                  <img [src]="'http://localhost/bookMallPic/'+goodsDetail.goods_features">
                </p>
              </div>
              <div id="detail-tag-id-2" *ngIf="goodsDetail.editor_recommend">
                <div class="detail-tag">
                  <span>编辑推荐</span>
                </div>
                <p>{{goodsDetail.editor_recommend}}</p>
              </div>
              <div id="detail-tag-id-3" *ngIf="goodsDetail.brief_introduction">
                <div class="detail-tag">
                  <span>内容简介</span>
                </div>
                <p>{{goodsDetail.brief_introduction}}</p>
              </div>
              <div id="detail-tag-id-4" *ngIf="goodsDetail.author_introduction">
                <div class="detail-tag">
                  <span>作者简介</span>
                </div>
                <p>{{goodsDetail.author_introduction}}</p>
              </div>
              <div id="detail-tag-id-5" *ngIf="goodsDetail.wonderful_digest">
                <div class="detail-tag">
                  <span>精彩书摘</span>
                </div>
                <div class="digest">{{goodsDetail.wonderful_digest | parseHtml}}</div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<app-footer></app-footer>