<tabset>
  <tab heading="全部订单">
    <div class="row order-thead">
      <div class="col-md-6">订单详情</div>
      <div class="col-md-2">金额</div>
      <div class="col-md-2">订单状态 </div>
      <div class="col-md-2">操作</div>
    </div>
    <div class="row order-tbody" *ngFor="let all of allOrder">
      <div class="col-md-12 order-tbody-head">
        <p class="order-time">下单时间：
          <span>{{all.order_time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </p>
        <p class="receiver">收货人：
          <span [tooltip]="all.receiver+' '+all.phone+' '+all.province+all.city+all.county+all.street" containerClass="tool-tip" placement="right">{{all.receiver}}</span>
        </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 order-item" *ngFor="let orderItem of all.orderItems">
            <a (click)="jumpToDetail(orderItem.gid)">
              <img [src]="'http://localhost/bookMallPic/'+orderItem.pic">
            </a>
            <p class="title" (click)="jumpToDetail(orderItem.gid)" [title]="orderItem.title">{{orderItem.title}}</p>
            <span>x{{orderItem.count}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 total-price">总额
        <br>¥{{all.total_price}}</div>
      <div class="col-md-2 status1" *ngIf="all.status==1">
        <span tooltip="您已提交了订单，请尽快支付！" placement="bottom">等待付款</span>
      </div>
      <div class="col-md-2 status2" *ngIf="all.status==2">
        <span tooltip="您已完成了订单，请耐心等待收货！" placement="bottom">等待收货</span>
      </div>
      <div class="col-md-2 status3" *ngIf="all.status==3">
        <span tooltip="您取消了此订单！" placement="bottom">已取消</span>
      </div>
      <div class="col-md-2 operate1" *ngIf="all.status==1">
        <button [routerLink]="'/pay/'+all.oid">付款</button>
        <p (click)="openModal1(template1, all.oid)">取消订单</p>
        <ng-template #template1>
          <div class="modal-body text-center">
            <p>您确定要取消该订单吗？</p>
            <button type="button" class="btn btn-danger btn-sm" (click)="ok1()">确定</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">取消</button>
          </div>
        </ng-template>
      </div>
      <div class="col-md-2 operate2" *ngIf="all.status==2">
        <button routerLink="/index">继续购物</button>
      </div>
      <div class="col-md-2 operate3" *ngIf="all.status==3">
        <button (click)="openModal2(template2, all.oid)">删除</button>
        <ng-template #template2>
          <div class="modal-body text-center">
            <p>您确定要删除该订单吗？</p>
            <button type="button" class="btn btn-danger btn-sm" (click)="ok2()">确定</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">取消</button>
          </div>
        </ng-template>
      </div>
    </div>
  </tab>
</tabset>